head
    title dao
    meta(name='viewport', content='user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="#000")
    link(href="https://fonts.googleapis.com/css?family=Ubuntu:300,400&display=swap" rel="stylesheet")
    
    //- script(src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js")
    //- script(src="https://semantic-ui.com/javascript/library/tablesort.js")

    link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.4/dist/semantic.min.css")
    script(src='https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js')
    
    script(src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.4/dist/semantic.min.js")
    
    script(src="https://cdn.jsdelivr.net/npm/sweetalert2@9")

    //- /* script(async='' src='//embed.redditmedia.com/widgets/platform.js' charset='UTF-8') */
    //- // Global site tag (gtag.js) - Google Analytics
    //- /* script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-156965333-1')
    //- /* script.
    //-     window.dataLayer = window.dataLayer || [];
    //-     function gtag(){dataLayer.push(arguments);}
    //-     gtag('js', new Date());
    //-     gtag('config', 'UA-156965333-1'); */ */


template(name='layout')
    +nav
    #main_area
        if view_chat
            .ui.grid
                .twelve.wide.column
                    +yield
                .four.wide.column
                    +chat_sidepanel
        else
            .ui.grid
                .sixteen.wide.column
                    +yield
    if is_admin
        +admin_footer
    //- .ui.basic.modal
    //-     +global_search_modal
        
        
//- template(name='global_search_modal')
//-     .ui.fluid.big.icon.input
//-         i.search.icon
//-         input.global_search(type='text' placeholder='search...')
//-     each results
//-         .ui.list
//-             .item #{title}



template(name='not_found')
    .ui.basic.center.aligned.padded.segment
        .ui.center.aligned.header page not found




template(name='chat_sidepanel')
    .ui.fluid.blue.inverted.segment
        .ui.header
            i.chat.icon
            |quick chat
        .ui.input.new_chat_message
            input(type='text' placeholder='new chat')




template(name='admin_footer')
    .ui.inline.header #{doc_count} docs
