template(name='home')
    //- .stars 
    //- img.ui.fluid.image.home_banner(src="{{c.url 'nightbg' width=1000 crop='crop'}}")    
    //- .twinkling
    //- .clouds
    //- img.ui.fluid.image.bg_overlay(src="{{c.url 'forestbg' width=1000 height=1000 crop='crop'}}")    
    //- img.ui.large.centered.logo_image.image(src="{{c.url 'forest_logo_blue' width=400 height=400}}")
    //- .ui.center.aligned.basic.segment
    //-     i.massive.tree.icon
    //- .ui.center.aligned.header 
    //-     |self study and expert mentoring
    //- .ui.center.aligned.header I want to [practice] for the [ACT Exam] focused on the [section] for [time]
        
    //- .ui.four.column.stackable.padded.grid
    //-     .center.aligned.column
    //-         .ui.basic.segment 
    //-             +ilarge name='guru' classes='ui centered image'
    //-             .ui.center.aligned.header 
    //-                 |1) master the ACT exam with our challenging practice questions 
    //-     .center.aligned.column
    //-         .ui.basic.segment 
    //-             +ilarge name='test' classes='ui centered image'
    //-             .ui.center.aligned.header 
    //-                 |2) crush the exam 
    //-     .center.aligned.column
    //-         .ui.basic.segment 
    //-             +ilarge name='university' classes='ui centered image'
    //-             .ui.center.aligned.header 
    //-                 |3) get into a great college
    //-     .center.aligned.column
    //-         .ui.basic.segment 
    //-             +ilarge name='money' classes='ui centered image'
    //-             .ui.center.aligned.header 
    //-                 |4) profit
    //-                 //- . you're welcome.
