template(name='home')
    .ui.stackable.padded.grid
        .row
            .sixteen.wide.column
                .ui.header prime
                if currentUser.prime
                    .ui.button.cancel
                        |cancel
                    .ui.green.header is prime member
                else
                    .ui.button.get_prime
                        |get prime
                //- .ui.header installed plugins
                //- each installed_plugins
                //-     .ui.green.card
                //-         .content
                //-             .header #{title}
                //- .ui.header available plugins
                //-     .ui.card
                //-         .header #{title}
                //-         .ui.button.install
                //-             |install
                if currentUser.prime
                    .ui.stackable.padded.grid
                        .four.column.row
                            .column
                                .ui.segment
                                    a.ui.header(href="/tasks") 
                                        i.tasks.icon
                                        |tasks
                                .spacer
                            .column
                                .ui.segment
                                    a.ui.header(href="/posts")
                                        i.blog.icon
                                        |posts
                                .spacer
                            .column
                                .ui.segment
                                    a.ui.header(href="/grid")
                                        i.th.icon
                                        |grid
                                .spacer
                            .column
                                .ui.segment
                                    a.ui.header(href="/bitcoin")
                                        i.bitcoin.icon
                                        |bitcoin
                                .spacer
                            .column
                                .ui.segment
                                    a.ui.header(href="/reddit")
                                        i.reddit.icon
                                        |reddit
                                .spacer
                            .column
                                .ui.segment
                                    a.ui.header(href="/forum")
                                        i.chat.icon
                                        |forum
                                .spacer
                            .column
                                .ui.segment
                                    a.ui.header(href="/votes")
                                        i.thumbs.up.icon
                                        |votes
                                .spacer
                            .column
                                .ui.segment
                                    a.ui.header(href="/university")
                                        i.university.icon
                                        |university
                                .spacer
                            .column
                                .ui.segment
                                    a.ui.header(href="/auctions")
                                        i.thumbs.up.icon
                                        |auctions
                                .spacer
                            .column
                                .ui.segment
                                    a.ui.header(href="/badges")
                                        i.thumbs.up.icon
                                        |badges
