template(name='nav')
    .ui.attached.fluid.borderless.topnav.large.menu
        a.ui.icon.item.go_home(href='/' class="{{active_path '/'}}" title='models')
            i.large.yin.yang.icon
        .right.menu
            if currentUser
                a#add.ui.icon.item
                    i.plus.large.icon
                a.item(href="/user/#{currentUser.username}/karma")
                    |#{currentUser.karma}k
                a.item(href="/user/#{currentUser.username}") 
                    i.user.icon
                    |#{currentUser.username}
            else 
                a.item(href="/login")
                    i.sign.in.alternate.large.icon
