template(name='nav')
    .ui.attached.borderless.topnav.invert.inverted.menu
        a.icon.item.open(href='/' class="{{isActivePath '/'}}" title='home')
            i.yin.yang.large.icon
        a.icon.item(href='/users' class="{{isActivePath '/users'}}" title='home')
            i.users.large.icon
        a.icon.item(href='/tribes' class="{{isActivePath '/tribes'}}" title='tribes')
            i.fire.large.icon
        a.icon.item(href='/baro' class="{{isActivePath '/share'}}" title='baro')
            i.share.large.icon
        a.icon.item(href='/covid' class="{{isActivePath '/covid'}}" title='covid')
            i.dna.large.icon
        a.icon.item(href='/votes' class="{{isActivePath '/votes'}}" title='votes')
            i.thumbs.up.large.icon
        a.icon.item(href='/events' class="{{isActivePath '/events'}}" title='baro')
            i.calendar.large.icon
        a.icon.item(href='/map' class="{{isActivePath '/map'}}" title='baro')
            i.marker.large.icon
        .right.menu
            if currentUser
                .icon.item
                    i.bell.icon
                .icon.item
                    i.envelope.icon
                .icon.item
                    i.cart.icon
                a.item(href="/user/#{currentUser.username}" class="{{isActiveRoute regex='user_dashboard'}}" title='profile')
                    if currentUser.image_id
                        img.ui.avatar.image(src="{{c.url currentUser.image_id width=100 height=100 gravity='face' crop='fill'}}")
                    else
                        i.user.icon
                    span.mobile.hidden #{currentUser.name} {{fixed currentUser.credit}}c
            else 
                a.item(href="/login")
                    i.sign.in.alternate.icon
          
