template(name='nav')
    //- .ui.attached.fluid.borderless.topnav.menu(class=currentUser.nav_color)
    .ui.attached.fluid.borderless.topnav.invert.inverted.menu
        a.ui.icon.item(href='/' class="{{active_path '/'}}" title='home')
            i.large.yin.yang.icon
        .right.menu
            if is_admin
                a.icon.item(href="/admin") 
                    i.shield.large.icon
            if currentUser
                //- a.item(href="/user/#{currentUser.username}/credit")
                //-     h4 {{fixed currentUser.credit}}c
                a.item(href="/user/#{currentUser.username}") 
                    i.user.icon
                    |#{currentUser.username}
            else 
                a.item(href="/login")
                    i.sign.in.alternate.large.icon
