template(name='profile')
    .ui.stackable.padded.grid
        .sixteen.wide.column
            +loginButtons
            if currentUser 
                .ui.header #{currentUser.username}
                .ui.header #{currentUser.doc_count} docs imported
                .ui.header #{currentUser.term_count} terms imported
                i.refresh.link.icon.calc_doc_count
            //- i.big.adjust.link.icon.toggle_dark
