body {
    /* font-family: 'Raleway', sans-serif !important; */
    font-family: 'Ubuntu', sans-serif !important;
    /* font-family: 'Lato+Mono', sans-serif !important; */
    /* font-family: 'Lato', sans-serif !important; */
    /* font-size: 110% !important; */
    /* line-height: 200% !important; */
    /* background: rgba(0,0,0,.99) !important; */
    background: rgba(0,0,0,.01) !important;
    /* filter: invert(1) !important; */
    /* overscroll-behavior: none; */
    transition: all 5s ease !important;
    /* background: rgba(250, 250, 250, .05) !important */
    /* background: #0e0e44 !important; */
}

.dark {
    filter: invert(1) !important;

}

.yeah {
    text-align: center !important;
    font-size: 1.30rem !important;
    font-weight: 400 !important;
    /* border-radius: 0 0 10px 10px !important; */
    transition: all 5s ease !important;
    margin-bottom: 10px !important;
    /* background-color: rgba(250,250,250,.6) !important; */
    /* opacity: .7 !important; */
}

.pointer:hover{
    transition: transform 2s; /* Animation */
    color: white !important;
    /* padding-top: 5em !important; */
    /* box-shadow: 0 2px 2px 2px rgba(50, 50, 100, 0.1) !important; */
}


.rounded {
    border-radius: 5px !important;
}

.card {
    background: black !important;
    border-radius: 10px !important;
}

a.goto_article {
    color: grey !important;
}

.ui.button {
    /* border-radius: 20px !important; */
    margin: 2px !important;
    transition: all 5s ease !important;

    /* padding: 12px !important; */
    /* font-weight: lighter !important; */
    /* font-size: 120% !important; */
}
/*  */
.pointer:hover {
    cursor: pointer !important;
}


/* a.title, #title {
    color: black !important;
} */
.ui.popup {
    border-radius:10px !important;
}

.card, .ui.embed, .ui.text, #title, .invert{
    /* border-radius: 10px !important; */
    /* filter: invert(1) !important; */
}



.embed{
    border-radius: 10px !important;
    /* background: rgba(0,0,0,.85) !important; */
    /* filter: invert(1) !important; */
}



/* iframe {
    border-radius: 10px !important;
    filter: invert(1) !important;
} */


.spacer {
  height: 10px;
}

.label {
    margin: 2px !important;
    /* border-radius: 10px !important; */
}

input {
    margin: 5px !important;
    border-radius: 20px !important;
}

::-webkit-scrollbar {
  width: 0 !important;
  border-radius: 10px !important;
}
.wrap_input {
    text-align:center !important;
}
/* Track */
::-webkit-scrollbar-track {
  background: black;
  border-radius: 10px !important;
}

::-webkit-scrollbar-thumb {
  background: grey !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darkgrey !important;
}
.smallscroll{
    /* padding: 5px !important;
    border-radius: 10px !important;
    border-width: 1px !important;
    border-color: grey !important;
    border-style: solid !important; */
    max-height: 300px !important;
    overflow-y:scroll;
	overflow-x:hidden;
	/* padding-top: .2em; */
	padding: .2em;
	/*padding-left: 1em;*/
}
.scrolling{
    /* padding: 5px !important;
    border-radius: 10px !important;
    border-width: 1px !important;
    border-color: grey !important;
    border-style: solid !important; */
	overflow-y:scroll;
	overflow-x:hidden;
	/* padding-top: .2em; */
	padding: .2em;
	/*padding-left: 1em;*/
}
.forty {
    max-height:38vh !important;
    min-height:38vh !important;
}
.sixty {
    max-height:58vh !important;
    min-height:58vh !important;
}

body {
    transition: all 5s !important;
}



.button:active{
    -webkit-transform: translate(0, 1px) !important; /* depth of button press */
    transition: all .5s !important;
    transform: translate(0, 2px) !important; /* depth of button press */
}


.button, .selector, .card, body, .header, .icon, .item{
    animation: fadein 5s;
    -webkit-transition: opacity 5s ease-in;
    /* -webkit-transition: opacity 5s ease-out; */
    /* animation: fadeout 5s; */
}


@keyframes fadein {
  from { opacity: 0}
  to   { opacity: 1}
}

@keyframes fadeout {
  from { opacity: 1}
  to   { opacity: 0}
}


.inline {
  display:inline !important;
  padding-right: 5px !important;
  margin-right: 0px !important;
  /* margin: .5em !important;2 */
}

.ui.header{
    /* text-transform: capitalize !important; */
    /* font-family: 'Raleway', sans-serif !important; */
    /* font-family: 'Montserrat', sans-serif !important; */
    /* font-family: 'Roboto', sans-serif !important; */
    /* font-family: 'Lato+Mono', sans-serif !important; */
    font-family: 'Ubuntu', sans-serif !important;
}
.segment, .input, .header, .button {
  animation: fadein .5s;
}


@keyframes fadein {
  from { opacity: 0}
  to   { opacity: 1}
}

.result_column {
  animation: fadein .5s;
}

@media screen and (max-width: 1100px) {
  .overlay-text {
    top: 550px;
  }
  .overlay-text-subheader {
    top: 290px;
  }
}



/* Mobile */
@media only screen and (max-width: 765px) {
  .mobile.hidden,
  .tablet.only,
  .computer.only,
  .large.monitor.only,
  .widescreen.monitor.only {
    display: none !important;
  }
}
/* Tablet / iPad Portrait */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .mobile.only,
  .tablet.hidden,
  .computer.only,
  .large.monitor.only,
  .widescreen.monitor.only {
    display: none !important;
  }
}
/* Computer / Desktop / iPad Landscape */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .mobile.only,
  .tablet.only,
  .computer.hidden,
  .large.monitor.only,
  .widescreen.monitor.only {
    display: none !important;
  }
}
/* Large Monitor */
@media only screen and (min-width: 1200px) and (max-width: 1919px) {
  .mobile.only,
  .tablet.only,
  .computer.only,
  .large.monitor.hidden,
  .widescreen.monitor.only {
    display: none !important;
  }
}
/* Widescreen Monitor */
@media only screen and (min-width: 1920px) {
  .mobile.only,
  .tablet.only,
  .computer.only,
  .large.monitor.only,
  .widescreen.monitor.hidden {
    display: none !important;
  }
}
