template(name='user_posts')
    .ui.large.selection.animated.list.scrolling
        each posts
            a.item(href="/post/#{_id}/view")
                img.ui.mini.rounded.image(src="{{c.url image height=300 width=300 crop='fill'}}")
                .content
                    .header #{title}
                    .description
                        |#{body}
                    
