template(name='cart')
    .ui.stackable.padded.grid
        .one.column.row
            .column
                .ui.center.aligned.header 
                    i.shopping.cart.icon
                    |shopping cart
        .row 
            .twelve.wide.column
                each cart_items
                    .ui.header #{product.title}
            .four.wide.column
                .ui.segment 
                    .ui.small.header cart item count
