template(name='click')
    .ui.stackable.padded.grid
        .row
            .four.wide.column
                .ui.header 
                    +icolor name='hand'
                    |click
                    
                .ui.header stats
                .ui.small.header your points: #{currentUser.points}
                
            .twelve.wide.column
                .ui.button.click
                    |click
                
