template(name='exercise')
    .ui.stackable.padded.grid
        .row
            .four.wide.column
                .ui.segment
                    .ui.header 
                        +icolor name='personal-trainer'
                        |exercise
                    .ui.button.new_session
                        |new session
            .four.wide.column
                .ui.segment
                    .ui.header
                        +icolor name='pushups'
                        |push ups
            .four.wide.column
                .ui.segment
                    .ui.header
                        +icolor name='pullups'
                        |pull ups
            .four.wide.column
                .ui.segment
                    .ui.header 
                        +icolor name='squats'
                        |squats
            .four.wide.column
                .ui.segment
                    .ui.header 
                        +icolor name='sit-ups'
                        |sit ups
                
