template(name='dashboard')
    //- img.ui.fluid.image.home_banner(src="{{c.url 'nightbg' width=1000 height=1000 crop='crop'}}")    
    
    .ui.stackable.padded.grid
        .one.column.row
            .column
                .ui.center.aligned.header 
                    i.dashboard.icon
                    |dashboard
        .row 
            .four.wide.column
                .ui.card
                    .content
                        a.ui.header(href="/flashcards")
                            i.clone.icon
                            |flashcards
            .four.wide.column
                .ui.card
                    .content
                        a.ui.header(href="/alerts")
                            i.bell.icon
                            |alerts
            .four.wide.column
                .ui.card
                    .content
                        a.ui.header(href="/tests")
                            i.bell.icon
                            |tests
            .four.wide.column
                .ui.card
                    .content
                        a.ui.header(href="/mail")
                            i.envelope.icon
                            |mail
            .four.wide.column
                .ui.card
                    .content
                        a.ui.header(href="/learn")
                            i.book.icon
                            |learn
            .four.wide.column
                .ui.card
                    .content
                        a.ui.header(href="/services")
                            i.wrench.icon
                            |services
            .four.wide.column
                .ui.card
                    .content
                        a.ui.header(href="/calendar")
                            i.calendar.icon
                            |calendar
            .four.wide.column
                .ui.card
                    .content
                        a.ui.header(href="/blog")
                            i.blog.icon
                            |blog
            .four.wide.column
                .ui.card
                    .content
                        a.ui.header(href="/courses")
                            i.chalkboard.teacher.icon
                            |courses
            .four.wide.column
                .ui.card
                    .content
                        a.ui.header(href="/shop")
                            i.shopping.cart.icon
                            |shop
            .four.wide.column
                .ui.card
                    .content
                        a.ui.header(href="/questions")
                            i.question.mark.icon
                            |questions
            .four.wide.column
                .ui.card
                    .content
                        a.ui.header(href="/chat")
                            i.chat.outline.icon
                            |chat
            .four.wide.column
                .ui.card
                    .content
                        a.ui.header(href="/passages")
                            i.book.icon
                            |passages
            .four.wide.column
                .ui.card
                    .content
                        a.ui.header(href="/questions")
                            i.question.icon
                            |authored questions
