template(name='help')
    .ui.stackable.padded.grid
        .one.column.row
            .column
                .ui.center.aligned.header(title='forest help')
                    +i name='help'
        .two.column.row 
            .column
                .ui.header 
                    +i name='ticket'
                    |support tickets
                .ui.button.new_ticket
                    |submit new ticket
            .column
                .ui.header 
                    +i name='faq'
                    |faq
