template(name='leaderboard')
    .ui.stackable.padded.grid
        .one.column.row
            .column
                .ui.center.aligned.header 
                    i.line.chart.icon
                    |forest leaderboard
        .row
            .sixteen.wide.column
                .ui.header iq ranking
                each ranked_iq_users
                    .ui.small.header #{username} #{iq}
