template(name='prime')
    .ui.stackable.padded.grid
        .one.column.row
            .column
                .ui.center.aligned.header Prime Membership
                .ui.small.header
                    |Upgrade your Free Account to a Prime Membership today to gain access to more features designed to help you study better and have greater success on your college entrance exam.
        .two.column.row 
            .column
                .ui.segment 
                    .ui.header 
                        +i name='nature'
                        |free 
                    .ui.large.list
                        .item(title='The longest test you can take') test length: 15 minutes
                        .item(title='the amount of practice tests you can take in a day') 3 tests/day
            .column
                .ui.segment 
                    .ui.header 
                        +i name='user-shield'
                        |prime
                    .ui.large.list
                        .item $20/mo
                        .item(title='Let our personalized studing algorithm help you grow') personalized study plan
                        .item the longest test you can take: 60 Minutes
                        .item unlimited tests/day
                        .item cancel any time
                    .ui.fluid.disabled.button 
                        |upgrade now
        +sponsor
